header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid black;
  height: 80px;
}

body {
  display: flex;
}

nav {

}

nav span {
  display: inline-block;
  padding-right: 40px
}

nav span a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin: 0px 12px 0px 0px;
}

.articles {
  display: flex;
  padding-top: 100px;
  z-index: 2;
  padding-left: 20px;
}

.articles div {
} /*This is for the borders, remove upon completion*/

.column.large {
  width: 630px;
  align-content: flex-start;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.column.small span {
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  color: DimGray;
  padding: 11px 20px;
  display: block;
  font-family: Verdana;
  font-size: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.smallumns {
  display: flex;
  flex: 1;
}

.smallumns.div {
  display: flex;
}

.smallumns.article {
  width: 300px;
}

.smallumns.tagline1 {
  width: 300px;
}

.smallumns.tagline3 {
  width: 300px;
}

.banner.text {
  display: flex;
  background-image: url('resources/img-story-main.png');
  margin-top: 0px;
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: left;
  height: 300px;
}

.left {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.right {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.tagline1 {
  display: flex;
  background-image: url('resources/img-story-2.png');
  margin-top: 15px;
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 300px;
  width: 300px;

}

.tagline2 {
  display: flex;
  background-image: url('resources/img-story-3.png');
  margin-top: 15px;
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 300px;
  width: 300px;
}

.tagline3 {
  background-image: url('resources/img-story-1.png');
  margin-top: 0px;
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 300px;
  width: 300px;
}

h2 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

footer {
  display: flex;
  vertical-align: center;
  margin: auto;
}
