header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
  height: 80px;
}

nav {

}

nav span {
  display: inline-block;
  padding-right: 40px
}

nav span a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin: 0px 12px 0px 0px;
}

body {
  display: flex;
}
