header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
  height: 80px;
}

nav {

}

nav span {
  display: inline-block;
  padding-right: 40px
}

nav span a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin: 0px 12px 0px 0px;
}

.articles {
  display: flex;
  padding-top: 100px;
  z-index: 2;
}

.articles div {
  border: 1px solid black;
} /*This is for the borders, remove upon completion*/

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.banner.text {
  background-image: url('resources/img-story-main.png');
  margin-top: 0px;
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: left;
}

.tagline1 {
  background-image: url('resources/img-story-2.png');
  margin-top: 0px;
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: left;
}

.tagline2 {
  background-image: url('resources/img-story-3.png');
  margin-top: 0px;
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: left;
}

.tagline3 {
  background-image: url('resources/img-story-1.png');
  margin-top: 0px;
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: left;
}
