header {
  display: flex;
}

.nav {
  display: flex;
}

.nav span {
  display: inline-block;
}

.logo {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}
